.app-container {
    display: grid;
    grid-template-rows: 7% 93%;
    height: 100%;
}

.body-container {
    background-color: #f7fafd;
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
